body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f3f3f3;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 3px solid #ff8c42;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #333;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background-color: #0096c7;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  text-align: left;
}

.sidebar button:hover {
  background-color: #007bff;
}

.dashboard {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.dashboard .single-row {
  grid-row: span 1;
}

.dashboard .double-row {
  grid-row: span 2;
}

.dashboard .triple-row {
  grid-row: span 3;
}

.dashboard .full-width {
  grid-column: span 4;
}

.dashboard .half-width {
  grid-column: span 2;
}

.dashboard .quarter-width {
  grid-column: span 1;
}

.dashboard .third-width {
  grid-column: span 3;
}

.dashboard-item {
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #ff8c42;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.dashboard-item h3 {
  margin: 0 0 15px;
  color: #0096c7;
  font-weight: normal;
}

.dashboard-item h1 {
  margin: 0 0 15px;
  color: #0096c7;
  font-weight: normal;
}

.dashboard-item.large-text {
  font-size: 48px;
  color: #0096c7;
}

.dashboard-item .thermostat-controls button {
  padding: 10px;
  font-size: 24px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #0096c7;
  color: white;
}

.dashboard-item .thermostat-controls button:hover {
  background-color: #007bff;
}

.dashboard-item .chart {
  padding: 10px;

}

.comment-box {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  border: 2px solid #ff8c42;
}

.comment-box h4 {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.comment-box ul {
  padding-left: 20px;
}

.comment-box ul li {
  list-style-type: disc;
  color: #333;
  font-size: 14px;
}

#chart-placeholder {
  height: 150px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.bar-chart,
.line-chart {
  width: 100%;
  height: 150px;
}

.thermostat-value {
  font-size: 48px;
  color: #0096c7;
}

.status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.status-bar-label {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.status-bar-meter {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-left: 10px;
}

.status-bar-meter-fill {
  height: 100%;
  border-radius: 5px;
}
.comfort-score-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: #f9f9f9;
  padding: 5px;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gauge-chart {
  width: 140px;
  margin-top: 10px;
}

.comment-box {
  flex: 1;
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ff8c42;
  padding-left: 20px;
}

.comment-box h4 {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.comment-box ul {
  padding-left: 10px;
  list-style-type: none;
}
.comment-box ul li {
  color: #333;
  font-size: 14px;
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.comment-box ul li:before {
  content: '\003E';
  margin-right: 10px;
  color: #333;
}
